# Dependencies
node_modules/
.pnpm-store/

# Build
.turbo
dist
.next
out
coverage
*.tsbuildinfo

# Env / secrets
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
.vscode-test

# Prisma / certs
.prisma
certs
infra/nginx/certs/*
!infra/nginx/certs/.gitkeep
*.docx
MediRide_Task_Document.docx
apps/api/prisma/migrations/**/migration_lock.toml.bak
